#hamburger {
    display: none;
}
.header_area {
    background: rgba(36, 36, 36, 0.7);
}

.header_area {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 99999;
}

.header_area .con_box {
    width: 1400px;
    height: 64px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* position: relative; */
}

.header_area .main_menu {
    display: flex;
}

.header_area .main_menu .menu {
    color: #fff;
    margin-right: 20px;
}
.header_area .main_menu .n_menu {
    color: #fff;
    margin-right: 20px;
}

.header_logo {
    width: 139px;
    height: 64px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header_logo svg {
    height: 64px;
    fill: #fff;
}

.header_icon_box {
    height: 100%;
    display: flex;
    align-items: center;
}

.header_icon_box li {
    width: 28px;
    height: 28px;
    margin-right: 20px;
}
.header_icon_box li:nth-child(3) {
    margin-right: 0;
}
.header_icon_box svg {
    stroke-width: 3;
}

/* ----------------------------------------- */

.sub_menu_box {
    width: 100%;
    height: 416px;
    margin-top: 64px;
    background: rgba(36, 36, 36, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;

    opacity: 0;
    z-index: -1;
    transition: 0.3s;
}

.sub_menu_box.active {
    opacity: 1;
    z-index: 999;
    
}

.sub_menu_box .sub_menu.active {
    opacity: 1;
    
}

/* ---------------------- */

.sub_menu {
    width: 1400px;
    height: 373px;
    margin: 0 auto;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    z-index: 999;
    opacity: 0;
    transition: 0.3s;
}

.sub_menu .model_wrap {
    width: 1400px;
    height: 373px;

    margin: 21px 0;
    display: flex;
    flex-wrap: wrap;
}

.sub_menu .car {
    width: 219px;
    height: 176.5px;
    margin-right: 175px;
}
.sub_menu .car:first-child {
    margin-bottom: 20px;
}
.sub_menu .car:nth-child(4),
.sub_menu .car:nth-child(8) {
    margin-right: -175px;
}

.sub_menu .sub_menu_t {
    font-size: 18px;
    color: #fff;
}
.sub_menu .sub_ex{
    width: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #fff;
}

.sub_menu .sub_ex a {
    border-bottom: 1px solid #fff;
}
.sub_menu_box .model img{
    width: 219px;
    height: 124px;
}

/* -------------------------------------- */

.sub_menu .owner {
    width: 1400px;
    height: 265px;
}
.sub_menu .owner_text,
.sub_menu .ourworld_text {
    font-size: 24px;
    /* height: 416px; */
    display: flex;
    flex-direction: column;

    padding: 20px 0;
}

.sub_menu .text {
    margin-bottom: 20px;
}
.sub_menu .text:last-child {
    margin-bottom: 0;
}
/* ------------------------------------- */

/* .sub_menu .ourworld_text {
    font-size: 24px;
    height: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 20px 0;
} */

/* ---------------------------------------- */

.main_banner {
    width: 100%;
    height: 100vh;

    position: relative;
}

.main_banner .banner_car_tag {
    color: #fff;
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 100px;
    left: 100px;
}

.main_banner .banner_car_tag .main_tag {
    font-size: 18px;
}

.main_banner .banner_car_tag .car_tag {
    font-size: 54px;
    font-weight: 500;
}

.main_banner .swiper-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------------------------------- */

.sec1 {
    padding: 120px 0;
}
.main_section .con_box{
    width: 1500px;
    margin: 0 auto;
}

.sec1 .box {
    width: 100%;
    display: flex;
    position: relative;

    margin-bottom: 120px;
}

.sec1 .box5 {
    margin-bottom: 0;
}

.sec1 video {
    width: 1000px;
    height: 500px;
}

.sec1 .on_text {
    color: #fff;

    position: absolute;
    bottom: 25px;
    left: 25px;
}

.on_text .top_text {
    font-size: 25px;
}

.on_text .mid_text {
    font-size: 34px;
    font-weight: 550;
}

.sec1 .bot_text {
    display: flex;
    align-items: center;
}

.sec1 .sec_ex {
    border-bottom: 1px solid #fff;
    margin-right: 15px;
    font-size: 15px;
    font-weight: 400;
}

.sec1 .right_text {
    width: 420px;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.car_text {
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 40px;
}

.sec1 .sub_text {
    font-size: 24px;
    font-weight: 400;
}

/* ------------------------------------------- */
body {
    transition: 0.3s;
}

body.bg {
    background-color: #bebebe;
}
/* ------------------------------------------------ */

.sec2 {
    width: 100%;
    /* height: 100%; */
    color: #fff;
    padding: 40px 0;
    margin: 0 auto;
}
.sec2 .con_box {
    width: 1500px;
}
.sec2 .news_header{
    font-size: 24px;
    margin-bottom: 40px;
}

.sec2 .news {
    margin-bottom: 120px;
}

.sec2 .news img {
    height: 800px;
    margin-bottom: 20px;
}

.sec2 .main_news_date {
    margin-bottom: 20px;
}

.sec2 .main_news {
    font-size: 36px;
    position: relative;
}
.sec2 .main_news_text {
    width: 750px;
    font-weight: 550;
}
.sec2 .main_news .news_ex {
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;

    font-weight: 400;
}

/* sub */
.sec2 .sub_news {
    position: relative;
    width: 1500px;
    height: 460px;
    overflow: hidden;
}

.news-pagination {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    z-index: 999;
}

.sec2 .sub_news_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sec2 .sub_news_box {
    display: flex;
    width: 1500px;

}

.sec2 .sub_news_box img {
    width: 740px;
}

.sec2 .sub_news_text {
    width: 740px;
    margin-left: 20px;
}
.sec2 .date {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}
.sec2 .news_text {
    width: 740px;
    
    font-size: 24px;
    font-weight: 400;
}
.sec2 .sub_news .news_ex {
    border-bottom: 1px solid #fff;
    font-size: 36px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* ---------------------------- */
/* sec3 */



.sec3 .con_box {
    padding: 60px 0;
}
.sec3 .stories_header {
    color: #fff;
    font-size: 60px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 80px;
}

.sec3 .story_box {
    width: 100%;
    height: 640px;
    display: flex;

    position: relative;
}

.story_box1,
.story_box2,
.story_box3 {
    width: calc(1500px - 33.333%);
    margin-right: 20px;
}


.story_box3 {
    margin-right: 0;
}

.story_box img {
    height: 325px;
    margin-bottom: 36px;
}

.sec3 .story_text_box {
    display: flex;
    flex-direction: column;
    
}

.sec3 .story {
    margin-bottom: 36px;
}

.sec3 .story_top {
    color: #006652;
    font-size: 32px;
    font-weight: 500;
}

.sec3 .story_mid {
    color: #121212;
    font-size: 20px;
    font-weight: 500;
}

.sec3 .story_bot {
    font-size: 16px;
    color: #7d7e7e;
    font-weight: 500;

    position: absolute;
    bottom: 0;
}


/* ------------------------------ */

.footer_area {
    width: 100%;
    height: 840px;
    padding: 60px 48px;
    position: relative;

    background-color: #fff;
}

.footer_area .footer_header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #424242;
    border-bottom: 2px solid #424242;
    padding-bottom: 36px;
    margin-bottom: 80px;
}
.footer_area .footer_top {
    display: flex;
    justify-content: space-between;
}
.footer_area .footer_left {
    width: 734px;
    height: 251px;
    display: flex;
    justify-content: space-between;
}

.footer_area .footer_box {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.footer_area .footer_box p {
    padding: 8px 0;
}

.footer_area .footer_right {
    width: 671px;
    height: 31px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.footer_area input {
    width: 441px;
    border-width: 0;
    border-bottom: 1px solid #424242;
    font-size: 14px;
    outline: none;
}

.footer_area .footer_mid {
    width: 912px;
    height: 22px;
    font-size: 9px;
    text-align: center;
    margin: 0 auto;
}

.footer_area .footer_right p {
    margin-right: 20px;
}
.footer_area .footer_icon_box {
    display: flex;
    
    position: absolute;
    right: 48px;
    bottom: 144px;
}
.footer_area .footer_icon_box a{
    width: 18px;
    height: 18px;
    fill: #424242;
    margin-right: 16px;
}

.footer_area .footer_icon_box a:last-child {
    margin-right: 0;
}

.footer_area .footer_bot .last {
    font-size: 20px;
    display: flex;
    position: absolute;
    bottom: 60px;
    right: 48px;
}
.footer_area .footer_bot .last p {
    margin-right: 20px;
}

.footer_area .footer_bot .last p:last-child {
    margin-right: 0;
}

/* ------------------------------------------------------------- */
@media (max-width: 1570px) {
    .main_section .con_box{
        width: 1200px;

    }


    .sec2 .sub_news_box img {
        width: 600px;
    }
    .sec2 .sub_news_text {
        width: 600px;
        position: relative;
    }
    .sec2 .news_text {
        width: 600px;
    }
}

@media (max-width: 1440px) {
    .header_area .main_menu,
    .header_area .header_icon_box {
        display: none;
    }

    #hamburger {
        display: block;
        width: 20px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 48px;
    
        transform: translate(-50%, -50%);

    }
    
    #hamburger span{
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: 0.3s;

    }
    
    #hamburger span:first-child {
        top: 0;
        left: 0;
    }
    #hamburger span:last-child {
        top: 100%;
        left: 0;
    }
    #hamburger.active span:first-child{
        transform: rotate(45deg);
        top: 50%;
        transition: 0.3s;
    }
    #hamburger.active span:last-child{
        transform: rotate(-45deg);
        top: 50%;
        transition: 0.3s;

    }


    .car_text {
        font-size: 32px;
    }
    .sec1 .sub_text {
        font-size: 20px;
    }


    .header_area .con_box {
        margin: 0;
    }
    .header_area .main_menu.active {
        width: 50%;
        height: 100vh;
        margin-top: 64px;
        background-color: rgba(36, 36, 36, 0.7);
    
        font-size: 30px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        
        position: absolute;
        top: 0;
        bottom: 0;
    }
    
    .header_area .main_menu.active li{
        margin: 30px;
    }

    .sub_menu_box {
        display: none;
    }
    
}
@media (max-width : 1280px) {
    .main_section .con_box {
        width: 1000px;
    }
    .sec1 video {
        width: 800px;
    }

    .car_text {
        font-size: 24px;
    }

    .sec1 .sub_text {
        font-size: 16px;
    }

    
    .sec2 .news img {
        width: 100%;
        height: 600px;
    }

    .sec2 .main_news {
        font-size: 24px;
    }
    .sec2 .sub_news_box img {
        width: 500px;
    }
    .sec2 .sub_news_text {
        width: 500px;
        position: relative;
    }
    .sec2 .news_text {
        width: 500px;
    }
    .sec2 .sub_news .news_ex {
        font-size: 24px;
    }
}
