.sub_menu {
    display: none;
}

.header_area {
    width: 100%;
    height: 64px;
    background: rgba(36, 36, 36, 0.7);
    position: fixed;
    top: 0;
    left: 0;

    z-index: 99999;
}

.header_area .con_box {
    width: 1400px;
    height: 64px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.header_area .main_menu {
    width: 100%;
    display: flex;
}

.header_area .main_menu .menu {
    color: #fff;
    margin-right: 20px;
}

.header_logo {
    width: 139px;
    height: 64px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header_logo svg {
    height: 64px;
    fill: #fff;
}

.header_icon_box {
    width: 109px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_icon_box .icon {
    width: 28px;
    height: 28px;
    margin-right: 20px;
}

.header_icon_box svg {
    stroke-width: 3;
}

/* ---------------------------------------- */

.main_banner {
    width: 100%;
    height: 100vh;

    position: relative;
}

.main_banner .banner_car_tag {
    color: #fff;
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 100px;
    left: 100px;
}

.main_banner .banner_car_tag .main_tag {
    font-size: 18px;
}

.main_banner .banner_car_tag .car_tag {
    font-size: 54px;
    font-weight: 500;
}

.main_banner .swiper-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------------------------------- */

.sec1 {
    background: #479F88;

    padding: 120px 210px;
}
.main_section .con_box{
    width: 1500px;
    margin: 0 auto;
}

.sec1 .box1,
.sec1 .box2,
.sec1 .box3,
.sec1 .box4,
.sec1 .box5{
    width: 100%;
    display: flex;
    position: relative;

    margin-bottom: 120px;
}

.sec1 .box5 {
    margin-bottom: 0;
}

.sec1 video {
    width: 1000px;
    height: 500px;
}

.sec1 .on_text {
    color: #fff;

    position: absolute;
    bottom: 25px;
    left: 25px;
}

.on_text .top_text {
    font-size: 25px;
}

.on_text .mid_text {
    font-size: 34px;
    font-weight: 550;
}

.sec1 .bot_text {
    display: flex;
    align-items: center;
}

.sec1 .sec_ex {
    border-bottom: 1px solid #fff;
    margin-right: 15px;
    font-size: 15px;
    font-weight: 400;
}

.sec1 .right_text {
    width: 420px;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.car_text {
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 40px;
}

.sec1 .sub_text {
    font-size: 24px;
    font-weight: 400;
}

/* ------------------------------------------------ */

.sec2 {
    background: #bebebe;
}